.nav{
    margin-left: 50px;
}
.nav li{
    display: inline;
    margin-left: 50px;
    
  }
  
  .nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  img.logo {
    width: 140px;
    padding-top: 30px;
}

.login-btn {
    background: #f79f1b !important;
}

.search-input {
    width: 300px;
    background: rgb(255, 255, 255);
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 20px;
}